@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



body {
  background-color: hsl(185, 41%, 84%);
  font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-style: normal;
  
}
.dollar{
  position: absolute;
    top: 38.7%;
    left: 33rem;
    transform: translateY(-50%);
    pointer-events: none;
    
}
.person{
  position: absolute;
    top: 65%;
    left: 33rem;
    transform: translateY(-50%);
    pointer-events: none;
} 
.nametag{
  color:hsl(186, 14%, 43%) ;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: white;
  width: 870px;
  margin: 150px;
  border-radius: 30px;
  margin-left: 400px;
  
  
  
}

.input-container,
.output-container {
  background-color: white;
  padding: 6rem;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 1px;
  
}

.input-container {
  width: 200px;
  height: 300px;
  border: none;
  box-shadow: none;
  margin-right: 100px;

  
  
}
.output-container{
  width: 150px;
  height: 300px;
  background-color: hsl(183, 100%, 15%);

}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.inputb[type="number"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 2px solid #f3f9fa;
  border-radius: 5px;
  font-size: 1rem;
  text-align: right;

}

.tip-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  width: 150px;
  
}

.btn {
  
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color:hsl(186, 14%, 43%);
  color: #00494d;
  cursor: pointer;
  width: 200px;
}
button{
  background-color:hsl(183, 100%, 15%) ;
  border-radius: 5px;
  
  

}

button:hover {
  background-color:hsl(172, 67%, 45%) ;
}

.Resetbtn{
  margin-top: 200px;
}
.resultsm{
  color:hsl(172, 67%, 45%) ;
  font-size: larger;
 
}

.resultsms {
  color: hsl(172, 67%, 45%);
  font-size: larger;
}
.inputb {
  
  font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-style: normal;
    background-color: hsl(189, 41%, 97%);
}
